.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.addForm {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.matDesign {
  width: 100%;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
}
